<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boldAbstract</key>
	<string>false</string>
	<key>boldAbstracttitle</key>
	<string>true</string>
	<key>boldAuthor</key>
	<string>false</string>
	<key>boldCaption</key>
	<string>false</string>
	<key>boldCenter</key>
	<string>false</string>
	<key>boldDate</key>
	<string>false</string>
	<key>boldEnumerate</key>
	<string>false</string>
	<key>boldFlushleft</key>
	<string>false</string>
	<key>boldFlushright</key>
	<string>false</string>
	<key>boldFooter</key>
	<string>false</string>
	<key>boldFootnotetext</key>
	<string>false</string>
	<key>boldHeader</key>
	<string>false</string>
	<key>boldHeading1</key>
	<string>true</string>
	<key>boldHeading2</key>
	<string>true</string>
	<key>boldHeading3</key>
	<string>true</string>
	<key>boldHeading4</key>
	<string>true</string>
	<key>boldHeading5</key>
	<string>true</string>
	<key>boldHeading6</key>
	<string>true</string>
	<key>boldHeading7</key>
	<string>true</string>
	<key>boldHeading8</key>
	<string>true</string>
	<key>boldHeading9</key>
	<string>true</string>
	<key>boldListparagraph</key>
	<string>false</string>
	<key>boldMessageheader</key>
	<string>true</string>
	<key>boldNormal</key>
	<string>false</string>
	<key>boldSalutation</key>
	<string>false</string>
	<key>boldSubtitle</key>
	<string>false</string>
	<key>boldTitle</key>
	<string>false</string>
	<key>boldToaheading</key>
	<string>true</string>
	<key>borderbottomTitle</key>
	<string>false</string>
	<key>colorCaption</key>
	<string>black</string>
	<key>colorDate</key>
	<string>black</string>
	<key>colorHeading1</key>
	<string>black</string>
	<key>colorHeading2</key>
	<string>black</string>
	<key>colorHeading3</key>
	<string>black</string>
	<key>colorHeading4</key>
	<string>black</string>
	<key>colorHeading5</key>
	<string>black</string>
	<key>colorHeading6</key>
	<string>black</string>
	<key>colorHeading7</key>
	<string>black</string>
	<key>colorHeading8</key>
	<string>black</string>
	<key>colorHeading9</key>
	<string>black</string>
	<key>colorListparagraph</key>
	<string>black</string>
	<key>colorMessageheader</key>
	<string>black</string>
	<key>colorNormal</key>
	<string>black</string>
	<key>colorSalutation</key>
	<string>black</string>
	<key>colorSubtitle</key>
	<string>black</string>
	<key>colorTitle</key>
	<string>black</string>
	<key>coverPage</key>
	<string>true</string>
	<key>coverdateAuto</key>
	<string>true</string>
	<key>fontAbstract</key>
	<string>CMU Serif Roman</string>
	<key>fontAbstracttitle</key>
	<string>CMU Serif Roman</string>
	<key>fontAuthor</key>
	<string>CMU Serif Roman</string>
	<key>fontCaption</key>
	<string>CMU Serif Roman</string>
	<key>fontCenter</key>
	<string>CMU Serif Roman</string>
	<key>fontDate</key>
	<string>CMU Serif Roman</string>
	<key>fontEnumerate</key>
	<string>CMU Serif Roman</string>
	<key>fontFlushleft</key>
	<string>CMU Serif Roman</string>
	<key>fontFlushright</key>
	<string>CMU Serif Roman</string>
	<key>fontFooter</key>
	<string>CMU Serif Roman</string>
	<key>fontFootnotetext</key>
	<string>CMU Serif Roman</string>
	<key>fontHeader</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading1</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading2</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading3</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading4</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading5</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading6</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading7</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading8</key>
	<string>CMU Serif Roman</string>
	<key>fontHeading9</key>
	<string>CMU Serif Roman</string>
	<key>fontListparagraph</key>
	<string>CMU Serif Roman</string>
	<key>fontMessageheader</key>
	<string>CMU Serif Roman</string>
	<key>fontNormal</key>
	<string>CMU Serif Roman</string>
	<key>fontSalutation</key>
	<string>CMU Serif Roman</string>
	<key>fontSubtitle</key>
	<string>CMU Serif Roman</string>
	<key>fontTitle</key>
	<string>CMU Serif Roman</string>
	<key>fontToaheading</key>
	<string>CMU Serif Roman</string>
	<key>fontcaptionFigures</key>
	<string>CMU Serif Roman</string>
	<key>fontcaptionTables</key>
	<string>CMU Serif Roman</string>
	<key>footerLine</key>
	<string>true</string>
	<key>footerlineThickness</key>
	<integer>25</integer>
	<key>headerLine</key>
	<string>true</string>
	<key>headerlineThickness</key>
	<integer>25</integer>
	<key>indentListparagraph</key>
	<integer>0</integer>
	<key>italicsAbstract</key>
	<string>false</string>
	<key>italicsAbstracttitle</key>
	<string>false</string>
	<key>italicsAuthor</key>
	<string>false</string>
	<key>italicsCaption</key>
	<string>false</string>
	<key>italicsCenter</key>
	<string>false</string>
	<key>italicsDate</key>
	<string>false</string>
	<key>italicsEnumerate</key>
	<string>false</string>
	<key>italicsFlushleft</key>
	<string>false</string>
	<key>italicsFlushright</key>
	<string>false</string>
	<key>italicsFooter</key>
	<string>false</string>
	<key>italicsFootnotetext</key>
	<string>false</string>
	<key>italicsHeader</key>
	<string>false</string>
	<key>italicsHeading1</key>
	<string>false</string>
	<key>italicsHeading2</key>
	<string>false</string>
	<key>italicsHeading3</key>
	<string>false</string>
	<key>italicsHeading4</key>
	<string>false</string>
	<key>italicsHeading5</key>
	<string>false</string>
	<key>italicsHeading6</key>
	<string>false</string>
	<key>italicsHeading7</key>
	<string>false</string>
	<key>italicsHeading8</key>
	<string>false</string>
	<key>italicsHeading9</key>
	<string>false</string>
	<key>italicsListparagraph</key>
	<string>false</string>
	<key>italicsMessageheader</key>
	<string>false</string>
	<key>italicsNormal</key>
	<string>false</string>
	<key>italicsSalutation</key>
	<string>false</string>
	<key>italicsSubtitle</key>
	<string>true</string>
	<key>italicsTitle</key>
	<string>false</string>
	<key>italicsToaheading</key>
	<string>false</string>
	<key>paragraphspacingFootnotetext</key>
	<integer>8</integer>
	<key>sectionNumbering</key>
	<string>true</string>
	<key>sectionnumberingType</key>
	<string>list template 5 of list gallery 3</string>
	<key>sizeAbstract</key>
	<integer>10</integer>
	<key>sizeAbstracttitle</key>
	<integer>12</integer>
	<key>sizeAuthor</key>
	<integer>12</integer>
	<key>sizeCaption</key>
	<integer>10</integer>
	<key>sizeCenter</key>
	<integer>12</integer>
	<key>sizeDate</key>
	<integer>12</integer>
	<key>sizeEnumerate</key>
	<integer>12</integer>
	<key>sizeFlushleft</key>
	<integer>12</integer>
	<key>sizeFlushright</key>
	<integer>12</integer>
	<key>sizeFooter</key>
	<integer>10</integer>
	<key>sizeFootnotetext</key>
	<integer>8</integer>
	<key>sizeHeader</key>
	<integer>10</integer>
	<key>sizeHeading1</key>
	<integer>15</integer>
	<key>sizeHeading2</key>
	<integer>13</integer>
	<key>sizeHeading3</key>
	<integer>12</integer>
	<key>sizeHeading4</key>
	<integer>12</integer>
	<key>sizeHeading5</key>
	<integer>12</integer>
	<key>sizeHeading6</key>
	<integer>12</integer>
	<key>sizeHeading7</key>
	<integer>12</integer>
	<key>sizeHeading8</key>
	<integer>12</integer>
	<key>sizeHeading9</key>
	<integer>12</integer>
	<key>sizeListparagraph</key>
	<integer>12</integer>
	<key>sizeMessageheader</key>
	<integer>10</integer>
	<key>sizeNormal</key>
	<integer>12</integer>
	<key>sizeSalutation</key>
	<integer>10</integer>
	<key>sizeSubtitle</key>
	<integer>12</integer>
	<key>sizeTitle</key>
	<integer>20</integer>
	<key>sizeToaheading</key>
	<integer>18</integer>
	<key>smallcapsFooter</key>
	<string>true</string>
	<key>smallcapsHeader</key>
	<string>true</string>
	<key>smallcapscaptionFigures</key>
	<string>true</string>
	<key>smallcapscaptionTables</key>
	<string>true</string>
	<key>spaceafterAbstract</key>
	<integer>10</integer>
	<key>spaceafterAbstracttitle</key>
	<integer>5</integer>
	<key>spaceafterAuthor</key>
	<integer>8</integer>
	<key>spaceafterCaption</key>
	<integer>0</integer>
	<key>spaceafterCenter</key>
	<integer>0</integer>
	<key>spaceafterDate</key>
	<integer>20</integer>
	<key>spaceafterEnumerate</key>
	<integer>8</integer>
	<key>spaceafterFlushleft</key>
	<integer>0</integer>
	<key>spaceafterFlushright</key>
	<integer>0</integer>
	<key>spaceafterFooter</key>
	<integer>0</integer>
	<key>spaceafterFootnotetext</key>
	<integer>0</integer>
	<key>spaceafterHeader</key>
	<integer>0</integer>
	<key>spaceafterHeading1</key>
	<integer>7</integer>
	<key>spaceafterHeading2</key>
	<integer>6</integer>
	<key>spaceafterHeading3</key>
	<integer>6</integer>
	<key>spaceafterHeading4</key>
	<integer>6</integer>
	<key>spaceafterHeading5</key>
	<integer>6</integer>
	<key>spaceafterHeading6</key>
	<integer>6</integer>
	<key>spaceafterHeading7</key>
	<integer>6</integer>
	<key>spaceafterHeading8</key>
	<integer>6</integer>
	<key>spaceafterHeading9</key>
	<integer>6</integer>
	<key>spaceafterListparagraph</key>
	<integer>5</integer>
	<key>spaceafterMessageheader</key>
	<integer>5</integer>
	<key>spaceafterNormal</key>
	<integer>0</integer>
	<key>spaceafterSalutation</key>
	<integer>0</integer>
	<key>spaceafterSubtitle</key>
	<integer>0</integer>
	<key>spaceafterTitle</key>
	<integer>0</integer>
	<key>spaceafterToaheading</key>
	<integer>10</integer>
	<key>spacebeforeAbstract</key>
	<integer>5</integer>
	<key>spacebeforeAbstracttitle</key>
	<integer>10</integer>
	<key>spacebeforeAuthor</key>
	<integer>19</integer>
	<key>spacebeforeCaption</key>
	<integer>0</integer>
	<key>spacebeforeCenter</key>
	<integer>0</integer>
	<key>spacebeforeDate</key>
	<integer>5</integer>
	<key>spacebeforeEnumerate</key>
	<integer>10</integer>
	<key>spacebeforeFlushleft</key>
	<integer>0</integer>
	<key>spacebeforeFlushright</key>
	<integer>0</integer>
	<key>spacebeforeFooter</key>
	<integer>0</integer>
	<key>spacebeforeFootnotetext</key>
	<integer>0</integer>
	<key>spacebeforeHeader</key>
	<integer>0</integer>
	<key>spacebeforeHeading1</key>
	<integer>15</integer>
	<key>spacebeforeHeading2</key>
	<integer>15</integer>
	<key>spacebeforeHeading3</key>
	<integer>15</integer>
	<key>spacebeforeHeading4</key>
	<integer>15</integer>
	<key>spacebeforeHeading5</key>
	<integer>15</integer>
	<key>spacebeforeHeading6</key>
	<integer>15</integer>
	<key>spacebeforeHeading7</key>
	<integer>15</integer>
	<key>spacebeforeHeading8</key>
	<integer>15</integer>
	<key>spacebeforeHeading9</key>
	<integer>15</integer>
	<key>spacebeforeListparagraph</key>
	<integer>5</integer>
	<key>spacebeforeMessageheader</key>
	<integer>0</integer>
	<key>spacebeforeNormal</key>
	<integer>0</integer>
	<key>spacebeforeSalutation</key>
	<integer>0</integer>
	<key>spacebeforeSubtitle</key>
	<integer>5</integer>
	<key>spacebeforeTitle</key>
	<integer>0</integer>
	<key>spacebeforeToaheading</key>
	<integer>0</integer>
</dict>
</plist>
